<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shippigo - W | Barcodes</title>
</head>

<style>
    body {
        margin: 0;
    }
    
    table {
        width: 100%;
    }
    
    tr {
        page-break-before: always;
    }
    
    td>img {
        width: 100%;
    }
    
    td {
        padding: 10px;
    }
</style>

<body>
    <%= data %>
        <table>
            <tr>
                <td><img src="<%= data %>" alt="QR-code" /></td>
            </tr>
        </table>
</body>

</html>